
@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url("../images/cover-image-light.png");
    --cover-color: #FFF1F7;
    --accent-color: #353430;
    --accent-background-color: #FF8DCB;
    --accent-transparent-color: #32312D66;
    --heading-color: #353430;
    --main-color: #353430;
    --sub-heading-color: #353430;
    --font-size-main: 18px;
    --main-title-color: #FFC2E6;
    --shadow-color: #FF8DCB;
    --special-rec-color: transparent;
    --decor-rec-visible: hidden;
  }

}
.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --cover-image: url("../images/cover-image-light.png");
  --cover-color: #FFF1F7;
  --accent-color: #353430;
  --accent-background-color: #FF8DCB;
  --accent-transparent-color: #32312D66;
  --heading-color: #353430;
  --main-color: #353430;
  --font-size-main: 18px;
  --main-title-color: #FFC2E6;
  --shadow-color: #FF8DCB;
  --special-rec-color: transparent;
  --decor-rec-visible: hidden;
}