/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-main);
  color: var(--main-color);
  background-repeat: no-repeat;
  font-size: 18px;
  padding: 10px;
  margin: 0;
  position: relative;
  line-height: 23.4px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  align-self: start;
  justify-self: end;
}
.decorated-zone::after {
  position: absolute;
  content: "";
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  align-self: flex-end;
  margin: 0 0 10px;
}

.decor__rec {
  position: absolute;
  inset-inline-end: 60px;
  inset-block-start: 0px;
}

.decor__rec::before {
  content: "REC";
  position: absolute;
  color: var(--accent-color);
  visibility: var(--decor-rec-visible);
}

.decor__rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid var(--special-rec-color);
  background-color: var(--special-rec-color);
  border-radius: 50%;
  box-shadow: 0 0 1.5px 1.5px var(--special-rec-color);
  top: 8px;
  left: 41px;
}

.header {
  display: grid;
  align-items: start;
  background-image: var(--cover-dark-image);
}

.header__theme-menu {
  margin: 70px 0 40px;
  justify-self: end;
  font-size: var(--font-size-main);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  list-style: none;
  line-height: 18px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  font-size: var(--font-size-main);
  color: var(--accent-color);
  cursor: pointer;
  padding: 0 13px;
  border: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-transparent-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__title {
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  margin: 37px 0 52px;
}

.header__title-text {
  color: var(--sub-heading-color);
  background: var(--accent-background-color);
  font-weight: 700;
  font-size: var(--font-size-main);
  line-height: 130%;
  position: relative;
  margin-bottom: 69px;
}


.content-section {
  display: grid;
}

.cause {
  margin-top: 35px;
}

.title {
  font-size: var(--font-size-main);
  color: var(--heading-color);
}

.cause__title {
  margin-bottom: 22px;
}

.title-decor {
  background-color: var(--accent-background-color);
  color: var(--sub-heading-color);
  font-size: var(--font-size-main);
  margin-bottom: 10px;
}

.small-weight {
  font-weight: 400;
}

.cause__descr-text {
  margin-bottom: 20px;
}

.downgrade__title {
  margin-bottom: 21px;
  margin-top: 27px;
}

.upgrade__title {
  margin: 30px 0 19px;
}

.upgrade__sub-title {
  color: var(--sub-heading-color);
  font-size: var(--font-size-main);
  background-color: var(--accent-background-color);
  font-weight: 700;
}

.downgrade__descr-text {
  margin-bottom: 20px;
}

.gallery__title {
  background-color: var(--accent-background-color);
  color: var(--sub-heading-color);
  font-size: var(--font-size-main);
}

.gallery__image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  justify-content: center;
  margin-top: 17px;
  margin-bottom: 46px;
}

.grid-img {
  width: 100%;
  height: auto;
  display: block;
}

.upgrade__descr-title {
  margin-top: 20px;
}

.gallery__title {
  margin-top: 47px;
}

.footer {
  display: grid;
  min-height: 668px;
}

.footer__title {
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  font-weight: 700;
  font-size: var(--logo-size);
  line-height: 83%;
  align-self: center;
  position: relative;
}


.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--shadow-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--main-color)
}

.link:hover {
  border-bottom: 1px solid var(--main-color);
}

@media (width >= 768px) {


  .decorated-zone::before {
    inset-inline-end: clamp(10px, 0.0389rem + 2.5445vw, 2px);
    inset-block-start: clamp(10px, 0.0345rem + 2.3445vw, 20px);
    margin-top: -6px;
  }

  .decorated-zone::after {
    inset-inline-start: clamp(10px, 0.0389rem + 2.5445vw, 20px);
    inset-block-end: clamp(10px, 0.0345rem + 3.1245vw, 20px);
    margin: 0 -10px;
  }

  .decor__rec {
    position: absolute;
    inset-inline-end: 366px;
    inset-block-start: 14px;
  }
  
  .decor__rec::before {
    line-height: 24px;
    left: 295px;
    top: 0px;
  }
  
  .decor__rec::after {
    top: 8px;
    left: 337px;
  }

  .header__theme-menu {
    margin: 190px 12px 185px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin: 0px -10px 37px;
  }

  .header__title-text {
    width: 364px;
    justify-self: end;
    margin: 123px 10px 192px;
  }


  .main {
    padding: 15px 10px;
    margin: 0 0 20px;
  }

  .cause {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .downgrade__title {
    width: 236px;
    margin-top: 60px;
  }

  .upgrade__title {
    margin: 0;
  }

  .upgrade {
    grid-template-columns: 1fr 2fr;
    margin-top: 60px;
    column-gap: 20px;
  }

  .article {
    grid-column-start: 2;
  }

  .gallery__image-grid {
    margin-bottom: 0;
  }

  .gallery__image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 0.8fr 1.5fr;
    justify-items: center;
    align-content: center;
    gap: 20px;

    grid-template-areas: 
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street"
    ;
  }

  .gallery__sunset {
    grid-area: sunset;
    width: 100%;
    height: 100%;
  }

  .gallery__sunset-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .gallery__ice-cream {
    grid-area: ice-cream;
    width: 100%;
    height: 100%;
  }
  
  .gallery__ice-cream-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .gallery__tape {
    grid-area: tape;
    width: 100%;
    height: 96%;
  }
  
  .gallery__tape-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .gallery__books {
    grid-area: books;
    width: 100%;
  }
  
  .gallery__books-img {
    object-fit: cover;
    width: 100%;
  }

  .gallery__street {
    grid-area: street;
    width: 100%;
  }
  
  .gallery__street-img {
    object-fit: cover;
    width: 100%;
    height: 93%;
  }

  .gallery__title {
    margin-top: 79px;
  }

  .footer {
    min-height: 1024px;
  }

  .footer__title {
    justify-self: center;
  }


}

@media (width >= 1024px) {

  .decorated-zone::before {
    margin-top: 0px;
  }

  .decor__rec {
    inset-block-start: 10px;
  }

  .header__theme-menu {
    justify-self: center;
    margin: 10px 0 283px;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title-text {
    margin-top: 75px;
    margin-bottom: 140px;
    width: 491px;
  }

  .main {
    padding: 0px 10px;
    margin: 54px 0 20px;
  }

  .cause {
    column-gap: 12px;
  }

  .downgrade__title {
    width: 315px;
  }

  .downgrade__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .article-row {
    grid-column-start: auto;
  }

  .upgrade {
    column-gap: 10px;
  }

  .footer {
    min-height: 768px;
  }

  .footer__title {
    font-size: clamp(9.8125rem, 9.8125rem + 0vw, 9.8125rem);
  } 
}

@media (width >= 1440px) {
  body {
    max-inline-size: none;
  }
}