/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-main);
  color: var(--main-color);
  background-image: var(--cover-image);
  background-color: var(--cover-color);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 18px;
  padding: 10px;
  margin: 0;
  position: relative;
  line-height: 23.4px;
}

.decor__icon {
  position: absolute;
  right: 40px;
  font-size: 18px;
  color: var(--special-rec-color);
}

.decor__icon::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid var(--special-rec-color);
  background-color: var(--special-rec-color);
  border-radius: 50%;
  box-shadow: 0 0 1.5px 1.5px var(--special-rec-color);
  top: 8px;
  left: 41px;
}
.decor__icon::after {
  content: "";
  position: absolute;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
  left: 35px;
}

.header {
  display: grid;
  align-items: start;
  background-image: var(--cover-dark-image);
}

.header__theme-menu {
  margin: 70px 0 40px;
  justify-self: end;
  font-size: var(--font-size-main);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  list-style: none;
  line-height: 18px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  font-size: var(--font-size-main);
  color: var(--accent-color);
  cursor: pointer;
  padding: 0 13px;
  border: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-transparent-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__title {
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.25rem + 0vw, 7.25rem);
  line-height: 83%;
  margin: 37px 0 52px;
}

.header__title-text {
  color: var(--sub-heading-color);
  background: var(--accent-background-color);
  font-weight: 700;
  font-size: var(--font-size-main);
  line-height: 130%;
  position: relative;
}

.header__title-text::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
  top: 148px;
  left: 0px;
}

.main {
  display: grid;
  margin: 70px 0 40px;
}

.cause {
  display: grid;
  margin-top: 35px;
}

.cause__title {
  font-size: 18px;
  color: var(--heading-color);
  margin-bottom: 22px;
}

.title-decor {
  background-color: var(--accent-background-color);
  color: var(--sub-heading-color);
  font-size: var(--font-size-main);
  margin-bottom: 10px;
}

.small-weight {
  font-weight: 400;
}

.cause__descr-text {
  margin-bottom: 20px;
}

.downgrade__title {
  font-size: 18px;
  color: var(--heading-color);
  margin-bottom: 21px;
  margin-top: 27px;
}

.upgrade__title {
  font-size: 18px;
  color: var(--heading-color);
  margin: 30px 0 19px;
}

.upgrade__second-title {
  color: var(--sub-heading-color);
  font-size: var(--font-size-main);
  background-color: var(--accent-background-color);
  font-weight: 700;
}

.downgrade__descr-text {
  margin-bottom: 20px;
}


.gallery__image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  justify-content: center;
  margin-top: 13px;
}

.grid-img {
  width: 100%;
  height: auto;
  display: block;
}

.upgrade__descr-title {
  margin-top: 20px;
}

.gallery__title {
  margin-top: 47px;
  margin-bottom: 0;
}

.footer {
  display: grid;
  min-height: 668px;
}

.footer__title {
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.25rem + 0vw, 7.25rem);
  line-height: 83%;
  /* margin-top: 306px; */
  align-self: center;
  position: relative;
}

.footer__title::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
  right: 0px;
  top: -276px;
}

.footer__title::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
  left: 0px;
  top: 347px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--shadow-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--main-color)
}

.link:hover {
  border-bottom: 1px solid var(--main-color);
}

@media (width >= 768px) {
  .decor__icon {
    margin: 10px 7px;
  }

  .header__theme-menu {
    margin: 190px 12px 185px;
  }

  .header__title {
    margin: 0px 0 37px;
  }

  .header__title-text {
    width: 364px;
    justify-self: end;
    margin: 123px 10px;
  }

  .header__title-text::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
    width: 25px;
    height: 25px;
    top: 256px;
    left: -365px;
  }

  .main {
    padding: 15px 10px;
    margin: 70px 0 20px;
  }

  .cause__article {
    grid-column-start: 2;
  }

  .cause {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .cause__title {
  }

  .downgrade {

  }

  .downgrade__title {
    width: 236px;
    margin-top: 60px;
  }

  .upgrade__title {
    margin: 0;
  }

  .dw__grade-article {

  }

  .upgrade {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 60px;
    column-gap: 20px;
  }

  .upgrade__article {
    grid-column-start: 2;
  }

  .upgrade__second-title {
    font-size: var(--font-size-main);
    background-color: var(--accent-background-color);
    height: 23px;
  }

  .gallery__image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 0.8fr 1.5fr;
    justify-items: center;
    align-content: center;
    gap: 20px;

    grid-template-areas: 
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street"
    ;
  }

  .gallery__sunset {
    grid-area: sunset;
    width: 100%;
    height: 100%;
  }

  .gallery__sunset-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .gallery__ice-cream {
    grid-area: ice-cream;
    width: 100%;
    height: 100%;
  }
  
  .gallery__ice-cream-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .gallery__tape {
    grid-area: tape;
    width: 100%;
    height: 96%;
  }
  
  .gallery__tape-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .gallery__books {
    grid-area: books;
    width: 100%;
  }
  
  .gallery__books-img {
    object-fit: cover;
    width: 100%;
  }

  .gallery__street {
    grid-area: street;
    width: 100%;
  }
  
  .gallery__street-img {
    object-fit: cover;
    width: 100%;
    height: 93%;
  }

  .gallery__title {
    margin-top: 79px;
    margin-bottom: 20px;
  }

  .footer {
    justify-self: center;
    min-height: 1024px;
  }

  .footer__title::before {
    content: "";
    position: absolute;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    width: 25px;
    height: 25px;
    right: -191px;
    top: -444px;
}

.footer__title::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
  left: -190px;
  top: 515px;
}
}

@media (width >= 1024px) {
  .header__theme-menu {
    margin: 12px 0 36px;
    justify-self: center;
    margin-block-end: 280px;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    font-size: 157px;
  }

  .header__title-text {
    margin-top: 75px;
    width: 491px;
  }

  .main {
    padding: 0px 10px;
    margin: 36px 0 20px;
  }

  .cause {
    column-gap: 12px;
  }

  .downgrade {
    
  }

  .downgrade__title {
    width: 315px;
  }

  .downgrade__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "multitasking food gadgets";
    column-gap: 20px;
  }

  .multitasking {
    grid-area: multitasking;
  }

  .food {
    grid-area: food;
  }

  .gadgets {
    grid-area: gadgets;
  }

  .downgrade__title {
    /* margin-top: 0;
    width: 315px; */
  }

  .dw__grade-article {

  }

  .upgrade {
    column-gap: 10px;
  }

  .footer {
    min-height: 768px;
  }

  .footer__title {
    font-size: clamp(9.8125rem, 9.8125rem + 0vw, 9.8125rem);
  }
  
  .footer__title::before {
    right: -256px;
    top: -297px;
  }

  .footer__title::after {
    left: -257px;
    top: 405px;
  }
}